<html>
    <head>
    </head>
    <body>
        <h1><center>CONSULTAS 2014</center></h1>
        <h1><center>________________________________________________________________________________________________</h1>
        <h1>Se muestran datos relevantes para saber a que edad es mas frecuente para cada una de las enfermedades, de igual manera se puede ver cual es la enfermedad mas propensa a presentarse en las mujeres y cual es en los hombres</h1>
         <h1><center>______________________________________________________________________________________________</h1>
        <h1><a href="/acercaDe">Acerca de </a></h1>
        <h1><a href="/consultas">Datos </a></h1>
    </body>
</html>     